html,
body {
    width: 100%;
    font-family: Lato !important;
    /* overflow: hidden; */
}

a {
    color: black !important;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

#btnPrev,#btnNext{
    display: none;
}
#quiz {
    margin-top: 5%;
    transition: all 0.5s;
    font-family: Lato;
    /* overflow: hidden; */
}


.item {
    width: 100%;
    transition: all 0.5s;
    float: left;
}

.quiz-question {
    width: 100%;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    margin-bottom: 20px;
}

.quiz-answers {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    display: block;
    padding-bottom: 5px;
}

.quiz-answers .btn {
    float: left;
    clear: both;
}

.sweet-alert button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.quiz-button.btn {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #ddd;
    border-radius: 0;
    text-transform: uppercase;
    white-space: normal !important;
    max-width: 250px;
    width: 250px;
}

.quiz-button.btn:hover {
    background-color: #0096D2;
    color: #fff;
}



.question-image {
    width: 100%;
    max-width: 500px;
    margin-bottom: -80px;
    margin: 0 auto;
}


.quiz-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px !important;
}


.quiz-title {
    max-width: 600px;
}



.quiz-title {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 30px;
}



.progress-circles.show {
    display: block;
}

.show {
    display: table !important;
}





.sweet-alert {
    margin-top: -251px !important;
    position: absolute;
}


@media (max-width: 540px) {
    .quiz-question {
        font-size: 20px;
    }

    .sweet-alert {
        margin-top: -251px !important;
        position: absolute;
    }

    .sweet-alert h2 {
        display: none;
    }
}
